body {
  font-family: sans-serif;
  margin: auto;
  max-width: 1280px;
}

.navbar {
  background-color: #313236;
  border-radius: 2px;
  max-width: 800px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;

}

.link-container a {
  height=50px;
  color: #aaa;
  display: inline-block;
  font-size: 15px;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffffff;
}

.link-container {
  border: 2px solid black;
  border-radius: 5px;
  background-color: blue;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
  position: static;
  height: 50px;
}

.link-container img {
  align-items: center;
  height: 50px;
}
